<div class="row">
  <div class="col-md-8 h1">
    <% if @wiki.private == true %>
      <small><span class="label label-warning">Private</span></small>
    <% end %>
    <%= @wiki.title %>
    <small> submitted <%= time_ago_in_words(@wiki.created_at) %> ago</small>
  </div>
  <div class="col-md-4 h1">
    <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-info' %>
    <% if @wiki.private == true %>
      <%= link_to "Add Collaborator", new_wiki_collaborator_path(@wiki), class: 'btn btn-success' %>
    <% end %>
    <% if @wiki.user == current_user %>
      <%= link_to "Delete", @wiki, method: :delete, class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-8">
    <h4><%= markdown(@wiki.body) %></h4>
  </div>

  <% if @wiki.private == true && @wiki.collaborators.count > 0 %>
    <div class="col-md-4">
      <h3>Collaborators:</h3>
      <% @wiki.collaborators.each do |collaborator| %>
        <% @collaborator = collaborator %>
        <%= collaborator.email %>
        <%= link_to "delete",[@wiki, collaborator], method: :delete %>
        <br>
      <% end %>
    </div>
  <% end %>
</div>
